[submodule "lib/inih"]
	path = lib/inih
	url = https://github.com/benhoyt/inih.git
[submodule "lib/findfirst"]
	path = lib/findfirst
	url = https://github.com/MathieuTurcotte/findfirst.git
[submodule "assets/sdl2-cmake-modules"]
	path = assets/sdl2-cmake-modules
	url = https://github.com/aminosbh/sdl2-cmake-modules.git
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
